{
  "openapi": "3.1.1",
  "info": {
    "title": "Nohead API",
    "version": "1.0.0",
    "summary": "Programmable content and data API.",
    "contact": {
      "name": "Nohead",
      "email": "hello@nohead.io",
      "url": "https://nohead.io"
    },
    "description": "The Nohead API manages projects, collections (your data models), their\nfields, and records (your content), with full version history.\n\n## Authentication\n\nSend `Authorization: Bearer <token>`. Servers, CI and agents use a\nproject API key (`sk_live_...`, created in the web app under API keys)\nwith scopes such as `records:read` or `schema:write`. Organization,\nproject, member and API key management need a person signed in to the\nweb app and are not available to API keys.\n\n## Resources and IDs\n\nEvery object has an opaque, prefixed `id` (`col_`, `fld_`, `rec_`, ...)\nand an `object` type. Record values live under `data`, keyed by each\nfield's `api_key`. Timestamps are ISO 8601 in UTC. Deletes are soft and\ncan be undone.\n\n## Lists\n\nLists return `{ \"data\": [...], \"meta\": { \"next_cursor\", \"has_more\" } }`.\nPass `limit` (1-100) and `cursor` to page, and `sort` (prefix `-` for\ndescending). Read on while `has_more` is true: a page can hold fewer\nthan `limit` items, even none. Records also take `filter[<api_key>]=value`,\n`filter[status]` and `expand=<relation fields>`.\n\n## Errors\n\nErrors share one envelope: `{ \"error\": { \"type\", \"message\",\n\"request_id\", \"details\" } }`. `details` lists field-level problems as\n`{ \"field\", \"code\", \"message\" }`. Include the `request_id` when asking\nfor support.\n\n## Safe retries and concurrent edits\n\nSend `Idempotency-Key` on any `POST`, `PATCH` or `DELETE` to make retrying\nit safe: the first result is stored for 24 hours and returned again for\nthe same request. Record responses carry the record's revision as an\n`ETag`; send it back as `If-Match` to update only if nobody changed the\nrecord in the meantime (`412` otherwise).\n\n## History\n\nEvery change to a record is a revision, attributed to the person or API\nkey that made it: record revisions can be listed, diffed and reverted,\nand collections keep a schema history. Send `Nohead-Change-Note` to\nrecord why a change was made. Changes that rewrite existing values\n(such as a field's type) are explicit, previewable field migrations.\n\nHow long revisions are kept depends on the organization's plan. Older\nones are removed, but every record keeps its first revision and its\nlast 10; `history_pruned_through` says how far history was removed.\n",
    "license": {
      "name": "Proprietary",
      "identifier": "LicenseRef-Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.nohead.io",
      "description": "Production"
    },
    {
      "url": "http://localhost:3000",
      "description": "Local development"
    }
  ],
  "security": [
    {
      "apiKey": []
    },
    {
      "session": []
    }
  ],
  "tags": [
    {
      "name": "records",
      "x-group": "Records",
      "description": "Content entries, their revisions and history."
    },
    {
      "name": "collections",
      "x-group": "Collections",
      "description": "User-defined data models and their schema history."
    },
    {
      "name": "fields",
      "x-group": "Fields",
      "description": "Field definitions of a collection."
    },
    {
      "name": "migrations",
      "x-group": "Field migrations",
      "description": "Explicit field changes that rewrite existing record values, with previews."
    },
    {
      "name": "assets",
      "x-group": "Assets",
      "description": "Files stored for a project, uploaded directly to storage."
    },
    {
      "name": "search",
      "x-group": "Search",
      "description": "Full-text search in collections and across a project."
    },
    {
      "name": "webhooks",
      "x-group": "Webhooks",
      "description": "Event notifications sent to your URLs, with delivery logs and retries."
    },
    {
      "name": "api-keys",
      "x-group": "API keys",
      "description": "Project-scoped machine credentials. Session only."
    },
    {
      "name": "projects",
      "x-group": "Projects",
      "description": "Application/site/data boundaries inside an organization. Session only."
    },
    {
      "name": "organizations",
      "x-group": "Organizations",
      "description": "Billing and collaboration boundaries. Session only."
    },
    {
      "name": "members",
      "x-group": "Members",
      "description": "Organization members, their roles, and invitations. Session only."
    },
    {
      "name": "billing",
      "x-group": "Billing",
      "description": "Plan subscriptions, paid through Stripe. Session only; owners only."
    },
    {
      "name": "audit",
      "x-group": "Audit log",
      "description": "The append-only trail of who changed what, through which client."
    },
    {
      "name": "system",
      "x-group": "System",
      "description": "Service status and metadata."
    }
  ],
  "paths": {
    "/v1/collections/{collection_id}/records": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "records_list",
        "summary": "List records",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "Equality filters: `filter[status]=published`, `filter[deleted]=true`,\nand `filter[<field api_key>]=value` for scalar field types (for\nmultiple-value fields: \"contains value\").\n",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "updated_at",
                "-updated_at",
                "published_at",
                "-published_at",
                "id",
                "-id"
              ],
              "default": "-created_at"
            }
          },
          {
            "$ref": "#/components/parameters/Expand"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "records_create",
        "summary": "Create a record",
        "description": "Creates a draft record (revision 1).",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordWrite"
              }
            }
          }
        },
        "responses": {
          "201": {
            "$ref": "#/components/responses/RecordCreated"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PlanLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        }
      ],
      "get": {
        "operationId": "records_get",
        "summary": "Get a record",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Expand"
          },
          {
            "name": "include_deleted",
            "in": "query",
            "description": "Also return the record if it is soft-deleted (to review it before restoring).",
            "schema": {
              "type": "boolean",
              "default": false
            }
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Record"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "records_update",
        "summary": "Update a record",
        "description": "Partial update. Keys present in `data` replace their values; `null` clears one.",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordWrite"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Record"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "records_delete",
        "summary": "Delete a record",
        "description": "Soft-deletes the record. Values and history are retained; see restore.",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Record"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/publish": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        }
      ],
      "post": {
        "operationId": "records_publish",
        "summary": "Publish a record",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Record"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/unpublish": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        }
      ],
      "post": {
        "operationId": "records_unpublish",
        "summary": "Unpublish a record",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Record"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/schedule": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        }
      ],
      "put": {
        "operationId": "records_schedule",
        "summary": "Schedule publishing or unpublishing",
        "description": "Publishes (`publish_at`) or unpublishes (`unpublish_at`) the record at\na future time (`records.publish`). The change is made within a minute of\nthe time, like a manual publish from the scheduler: it has its own\nrevision (`via: scheduler`), webhooks and audit event. `publish_at`\nneeds a draft; `unpublish_at` needs a published record or a\n`publish_at` before it. Setting or cancelling a schedule is audited but\nmakes no revision.\n",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RecordScheduleUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "$ref": "#/components/responses/Record"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "records_unschedule",
        "summary": "Cancel a record's schedule",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Record"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/restore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        }
      ],
      "post": {
        "operationId": "records_restore",
        "summary": "Restore a record",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/components/responses/Record"
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PlanLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/revisions": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        }
      ],
      "get": {
        "operationId": "record_revisions_list",
        "summary": "List a record's revisions",
        "description": "The record's history, newest first. Available while the record is soft-deleted.",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/RecordRevisionFilter"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of revisions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordRevisionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/revisions/{revision}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        },
        {
          "$ref": "#/components/parameters/RevisionNumber"
        }
      ],
      "get": {
        "operationId": "record_revisions_get",
        "summary": "Get a revision",
        "tags": [
          "records"
        ],
        "responses": {
          "200": {
            "description": "The revision with its snapshot and changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordRevisionDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/revisions/{revision}/revert": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        },
        {
          "$ref": "#/components/parameters/RevisionNumber"
        }
      ],
      "post": {
        "operationId": "record_revisions_revert",
        "summary": "Revert to a revision",
        "description": "Writes a new `revert` revision whose data is the target revision mapped\nonto the current schema. With `dry_run=true`, returns a preview and\nwrites nothing.\n",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "dry_run",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/IfMatch"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The reverted record, or a preview for dry runs.",
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/Record"
                    },
                    {
                      "$ref": "#/components/schemas/RevertPreview"
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "412": {
            "$ref": "#/components/responses/PreconditionFailed"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/diff": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        }
      ],
      "get": {
        "operationId": "records_diff",
        "summary": "Compare two revisions",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "name": "from",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          },
          {
            "name": "to",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Changes from one revision to another.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordDiff"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/records/{record_id}/redact": {
      "parameters": [
        {
          "$ref": "#/components/parameters/RecordId"
        }
      ],
      "post": {
        "operationId": "records_redact",
        "summary": "Redact a field from a record's history",
        "description": "Removes every past value of a field from the record's revisions, for\nexample personal data or a secret that should never have been stored.\nEach value the field had in earlier revisions (or only in the given\n`revisions`), other than its current value, becomes\n`{\"$redacted\": true}` wherever it appears in revision snapshots and changes;\ncopies in stored webhook payloads are replaced too. The current value\nis never touched: to remove a live value, update the record first.\n\nThe only operation that rewrites history. It cannot be undone, needs\n`confirm: true` (preview with `dry_run=true`), is audited as\n`record.history_redacted`, and is limited to owners and admins with a\nuser session. Reverting to a redacted revision keeps the field's\ncurrent value.\n",
        "tags": [
          "records"
        ],
        "security": [
          {
            "session": []
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "dry_run",
            "in": "query",
            "description": "Report what would be redacted without changing anything.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "field"
                ],
                "properties": {
                  "field": {
                    "type": "string",
                    "description": "The field's API key, or its ID (`fld_...`, also for deleted fields)."
                  },
                  "revisions": {
                    "type": "array",
                    "description": "Redact only the values the field had in these revisions\n(wherever they appear in history). Omit to redact every\npast value.\n",
                    "items": {
                      "type": "integer"
                    }
                  },
                  "confirm": {
                    "type": "boolean",
                    "description": "Must be true to redact (not needed for a dry run)."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What was (or, for a dry run, would be) redacted.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Redaction"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/records/count": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "records_count",
        "summary": "Count records",
        "description": "How many records match the filters, which work as in the list.",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "description": "The list's filters (`filter[status]`, `filter[deleted]`, `filter[<field api_key>]`).",
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The count.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RecordCount"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/records/bulk": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "post": {
        "operationId": "records_bulk",
        "summary": "Change many records",
        "description": "Publishes, unpublishes, deletes, restores or updates\n(`update` with `data`, applied to each) up to 100 records. Each record\nis changed as if by its own request: one revision per effective\nchange, with its own audit event, webhook and search update. Records\nthat fail (not found, invalid, over a plan limit) are reported without\nstopping the others. Publishing needs `records.publish`; the rest\n`records.write`.\n",
        "tags": [
          "records"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BulkRecordsRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "What happened to each record, in request order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BulkRecordsResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/projects/{project_id}/collections": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "collections_list",
        "summary": "List collections",
        "description": "The project's collections. With `deleted=true`, those scheduled for deletion; published-only API keys get `403` for those.",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of collections.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CollectionList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "collections_create",
        "summary": "Create a collection",
        "description": "Creates a collection, optionally with initial fields, as schema version 1.",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PlanLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "collections_get",
        "summary": "Get a collection",
        "tags": [
          "collections"
        ],
        "responses": {
          "200": {
            "description": "The collection with its active fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "collections_update",
        "summary": "Update a collection",
        "description": "Changing the slug breaks clients that address the collection by slug.",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CollectionUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "collections_delete",
        "summary": "Delete a collection",
        "description": "Soft-deletes the collection. Fields, records and history are retained and can be restored.",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/restore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "post": {
        "operationId": "collections_restore",
        "summary": "Restore a deleted collection",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The restored collection.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PlanLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/schema": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "collections_get_schema",
        "summary": "Get the schema at a version",
        "description": "Published-only API keys read only the current version; earlier ones are `403`.",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "name": "version",
            "in": "query",
            "description": "Schema version; defaults to the current one.",
            "schema": {
              "type": "integer",
              "minimum": 1
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The full schema definition at that version.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Schema"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/schema-changes": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "schema_changes_list",
        "summary": "List schema changes",
        "description": "The collection's schema history, newest first. Published-only API keys get `403`.",
        "tags": [
          "collections"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of schema changes.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaChangeList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/schema-changes/{schema_change_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        },
        {
          "name": "schema_change_id",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          }
        }
      ],
      "get": {
        "operationId": "schema_changes_get",
        "summary": "Get a schema change",
        "description": "Published-only API keys get `403`.",
        "tags": [
          "collections"
        ],
        "responses": {
          "200": {
            "description": "The schema change with before/after definitions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SchemaChangeDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/fields": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "fields_list",
        "summary": "List fields",
        "description": "The collection's fields. With `deleted=true`, its deleted fields; published-only API keys get `403` for those.",
        "tags": [
          "fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of fields.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "fields_create",
        "summary": "Add a field",
        "tags": [
          "fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The created field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/fields/{field_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FieldId"
        }
      ],
      "patch": {
        "operationId": "fields_update",
        "summary": "Update a field",
        "description": "Changes that keep existing record values valid. After an `api_key`\nchange the old key keeps working for 6 months as an alias (see\n`aliases`), so clients have time to move. Changing `type` or `multiple`, or a\n`configuration` that existing active records would violate, is rejected\nwith `requires_migration`: use `POST /v1/fields/{field_id}/migrations`.\n",
        "tags": [
          "fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "fields_delete",
        "summary": "Delete a field",
        "description": "Soft-deletes the field. Record values are retained and hidden until restored or purged.",
        "tags": [
          "fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/fields/{field_id}/restore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FieldId"
        }
      ],
      "post": {
        "operationId": "fields_restore",
        "summary": "Restore a deleted field",
        "tags": [
          "fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The restored field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/fields/{field_id}/aliases/{alias}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FieldId"
        },
        {
          "name": "alias",
          "in": "path",
          "required": true,
          "description": "The old API key.",
          "schema": {
            "type": "string"
          }
        }
      ],
      "delete": {
        "operationId": "fields_remove_alias",
        "summary": "Stop accepting a renamed field's old key",
        "description": "Removes an alias before it expires (`schema.write`): clients using the\nold key stop working at once. Audited as `field.alias_removed`.\n",
        "tags": [
          "fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          }
        ],
        "responses": {
          "200": {
            "description": "The field.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Field"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/fields/reorder": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "post": {
        "operationId": "fields_reorder",
        "summary": "Reorder fields",
        "description": "Puts the collection's active fields in the given order (the order of\nthe record editor and of schema listings) as one schema change.\n`field_ids` must list every active field exactly once.\n",
        "tags": [
          "fields"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "additionalProperties": false,
                "required": [
                  "field_ids"
                ],
                "properties": {
                  "field_ids": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The collection with its fields in the new order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Collection"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/migrations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "migrations_list",
        "summary": "List field migrations",
        "description": "The collection's field migrations, newest first. Published-only API keys get `403`.",
        "tags": [
          "migrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of field migrations.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMigrationList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/fields/{field_id}/migrations": {
      "parameters": [
        {
          "$ref": "#/components/parameters/FieldId"
        }
      ],
      "post": {
        "operationId": "fields_migrate",
        "summary": "Migrate a field",
        "description": "Changes a field in a way that rewrites existing record values: its\n`type`, `multiple`, a stricter `configuration`, or making it `required`\nwith a `backfill` for records that have no value.\n\nEvery record is checked first. With `dry_run=true` the result is a\npreview: counts per outcome and sample records, nothing written. Without\nit, a migration whose values do not all convert is refused (`422`)\nunless `on_invalid` is `clear`; otherwise it is accepted (`202`) and\napplied in the background. Poll `GET /v1/migrations/{migration_id}`.\n\nWhile a migration is pending or running, writes to the collection's\nrecords and schema return `409`. Each record whose data changes gets a\n`migrate` revision, so cleared or converted values stay recoverable.\n",
        "tags": [
          "migrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "name": "dry_run",
            "in": "query",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/FieldMigrationRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A preview (dry runs only).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMigrationPreview"
                }
              }
            }
          },
          "202": {
            "description": "The migration was accepted and will be applied in the background.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMigration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/migrations/{migration_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/MigrationId"
        }
      ],
      "get": {
        "operationId": "migrations_get",
        "summary": "Get a field migration",
        "description": "Published-only API keys get `403`.",
        "tags": [
          "migrations"
        ],
        "responses": {
          "200": {
            "description": "The migration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMigration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/migrations/{migration_id}/cancel": {
      "parameters": [
        {
          "$ref": "#/components/parameters/MigrationId"
        }
      ],
      "post": {
        "operationId": "migrations_cancel",
        "summary": "Cancel a field migration",
        "description": "A pending migration is cancelled at once. A running one stops at its\nnext batch and is rolled back entirely (`cancel_requested` is true until\nthen). Finished migrations cannot be cancelled (`409`).\n",
        "tags": [
          "migrations"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          }
        ],
        "responses": {
          "200": {
            "description": "The migration.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FieldMigration"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/projects/{project_id}/assets": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "assets_list",
        "summary": "List assets",
        "description": "The project's assets, newest first. `deleted=true` lists deleted ones instead.\n`content_type` lists only assets of those types, for example the ones an\nasset field accepts (its `accepted_types`). Published-only API keys see\nonly assets that published records use, and get pages that can be short\n(or empty) while `has_more` is true.\n",
        "tags": [
          "assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "$ref": "#/components/parameters/Deleted"
          },
          {
            "name": "content_type",
            "in": "query",
            "description": "Comma-separated MIME types or `type/*` wildcards.",
            "schema": {
              "type": "string"
            },
            "example": "image/*,application/pdf"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of assets.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/projects/{project_id}/assets/uploads": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "post": {
        "operationId": "assets_upload",
        "summary": "Start an upload",
        "description": "Step 1 of uploading a file. Returns a pending asset and an `upload`: send\nthe file's bytes with `upload.method` to `upload.url`, with `upload.headers`,\nbefore `upload.expires_at`. The bytes go directly to storage, not through\nthis API. Then call `POST /v1/assets/{asset_id}/complete`.\n\n`content_type` and `byte_size` must be the file's; storage refuses another\ncontent type and completion refuses another size.\n\nThe file counts toward the organization's storage from here on, while it\nuploads too. On plans where storage is a hard limit (Free), a file that\nwould go over it is refused with `402 plan_limit_exceeded`; on others,\n`Nohead-Usage-Warning` reports going over.\n",
        "tags": [
          "assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssetUploadCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "headers": {
              "Nohead-Usage-Warning": {
                "$ref": "#/components/headers/UsageWarning"
              }
            },
            "description": "The pending asset and where to upload it.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssetUpload"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PlanLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/assets/{asset_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AssetId"
        }
      ],
      "get": {
        "operationId": "assets_get",
        "summary": "Get an asset",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "The asset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "assets_delete",
        "summary": "Delete an asset",
        "description": "Soft-deletes the asset. The original is kept for 30 days, then purged;\nrecords that reference it keep the ID.\n",
        "tags": [
          "assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted asset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/assets/{asset_id}/complete": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AssetId"
        }
      ],
      "post": {
        "operationId": "assets_complete",
        "summary": "Complete an upload",
        "description": "Step 2 of uploading a file: verifies the uploaded file (it exists, with the\ndeclared size and content type), reads image dimensions and marks the asset\n`ready`. Only ready assets can be used in records. Safe to retry: a ready\nasset is returned unchanged. `422 upload_missing` means the file has not\nbeen uploaded yet; `422 upload_mismatch` means it differed from what was\ndeclared, and the asset is marked `failed`.\n",
        "tags": [
          "assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The ready asset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/assets/{asset_id}/image-url": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AssetId"
        }
      ],
      "get": {
        "operationId": "assets_image_url",
        "summary": "Get an image URL",
        "description": "A signed URL for a transformed rendition of a ready image asset\n(JPEG, PNG, GIF, WebP or AVIF). The same asset and options always give\nthe same URL, so it can be cached and embedded; it does not expire.\nOnly these options can be requested, so nobody can generate other\ntransformations. Without options it serves the original size.\n",
        "tags": [
          "assets"
        ],
        "parameters": [
          {
            "name": "width",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4096
            }
          },
          {
            "name": "height",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 4096
            }
          },
          {
            "name": "fit",
            "in": "query",
            "description": "`contain` fits inside width × height; `cover` fills it, cropping; `fill` stretches to it.",
            "schema": {
              "type": "string",
              "enum": [
                "contain",
                "cover",
                "fill"
              ],
              "default": "contain"
            }
          },
          {
            "name": "format",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "original",
                "webp",
                "avif",
                "jpeg",
                "png"
              ],
              "default": "original"
            }
          },
          {
            "name": "quality",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The image URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImageUrl"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/assets/{asset_id}/download-url": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AssetId"
        }
      ],
      "get": {
        "operationId": "assets_download_url",
        "summary": "Get a download URL",
        "description": "A short-lived URL (15 minutes) that downloads the original file under its filename.",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "The download URL.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DownloadUrl"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/assets/{asset_id}/restore": {
      "parameters": [
        {
          "$ref": "#/components/parameters/AssetId"
        }
      ],
      "post": {
        "operationId": "assets_restore",
        "summary": "Restore a deleted asset",
        "tags": [
          "assets"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The restored asset.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Asset"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "collections_search",
        "summary": "Search records",
        "description": "Full-text search in a collection, ranked by relevance (or `sort`).\nWith an API key, the collection must be `search_enabled` and the words\nmatch its `searchable` fields only; members in the web app search any\ncollection, on all its text fields. Equality filters work on `status`\nand on fields marked `filterable`; `sort` on `created_at`, `updated_at`,\n`published_at` and fields marked `sortable` (`-` for descending).\nResults are the current records; changes appear within seconds. At\nmost the first 1,000 hits can be paged through. `expand` embeds related\nrecords and assets as in the records list. `409` when search is not\nenabled for API keys, while a new collection's index is first built,\nand when filtering or sorting on a field newly made `filterable` or\n`sortable` until the rebuild that adds it has run (detail code\n`rebuilding`; the index status is `stale` meanwhile).\n",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The words to search for; empty matches everything.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "additionalProperties": {
                "type": "string"
              }
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "-published_at"
          },
          {
            "$ref": "#/components/parameters/Expand"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of matching records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/search-index": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "get": {
        "operationId": "search_index_get",
        "summary": "Get search index status",
        "description": "Whether the collection's search index is built and up to date.",
        "tags": [
          "search"
        ],
        "responses": {
          "200": {
            "description": "The index status.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchIndex"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/collections/{collection_id}/search-index/rebuild": {
      "parameters": [
        {
          "$ref": "#/components/parameters/CollectionRef"
        }
      ],
      "post": {
        "operationId": "search_index_rebuild",
        "summary": "Rebuild the search index",
        "description": "Rebuilds the collection's index from its records in the background.\nSearch keeps working with the current index until the new one is ready.\nRarely needed: indexes follow record and schema changes automatically.\n",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "202": {
            "description": "The rebuild was queued.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchIndex"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/projects/{project_id}/search": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "projects_search",
        "summary": "Search across collections",
        "description": "One ranked list of matching records from the project's collections (or\nthose named in `collections`): with an API key, those with\n`search_enabled`, matching their `searchable` fields as in a collection\nsearch. `filter[status]` narrows by status.\n",
        "tags": [
          "search"
        ],
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "The words to search for; empty matches everything.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          },
          {
            "name": "collections",
            "in": "query",
            "description": "Comma-separated collection slugs or IDs to search in.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter",
            "in": "query",
            "style": "deepObject",
            "explode": true,
            "schema": {
              "type": "object",
              "properties": {
                "status": {
                  "type": "string",
                  "enum": [
                    "draft",
                    "published"
                  ]
                }
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of matching records.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SearchResults"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          },
          "503": {
            "$ref": "#/components/responses/ServiceUnavailable"
          }
        }
      }
    },
    "/v1/projects/{project_id}/webhooks": {
      "parameters": [
        {
          "$ref": "#/components/parameters/ProjectId"
        }
      ],
      "get": {
        "operationId": "webhooks_list",
        "summary": "List webhooks",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/Limit"
          },
          {
            "$ref": "#/components/parameters/Cursor"
          }
        ],
        "responses": {
          "200": {
            "description": "A page of webhooks.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookList"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "post": {
        "operationId": "webhooks_create",
        "summary": "Create a webhook",
        "description": "Subscribes a URL to events. The response includes the endpoint's signing\n`secret` (also after `rotate-secret`); verify deliveries with it (see the\n`webhooks` section of this document).\n",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookCreate"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The webhook, with its signing secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookWithSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PlanLimitExceeded"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/webhooks/{webhook_id}": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WebhookId"
        }
      ],
      "get": {
        "operationId": "webhooks_get",
        "summary": "Get a webhook",
        "tags": [
          "webhooks"
        ],
        "responses": {
          "200": {
            "description": "The webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "patch": {
        "operationId": "webhooks_update",
        "summary": "Update a webhook",
        "description": "Change the URL, description, event types, or turn it off (`enabled: false`).\n",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WebhookUpdate"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/ValidationFailed"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      },
      "delete": {
        "operationId": "webhooks_delete",
        "summary": "Delete a webhook",
        "description": "Pending deliveries to it fail at their next attempt.\n",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The deleted webhook.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Webhook"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/v1/webhooks/{webhook_id}/rotate-secret": {
      "parameters": [
        {
          "$ref": "#/components/parameters/WebhookId"
        }
      ],
      "post": {
        "operationId": "webhooks_rotate_secret",
        "summary": "Rotate a webhook's signing secret",
        "description": "The old secret stops working immediately.\n",
        "tags": [
          "webhooks"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/NoheadClient"
          },
          {
            "$ref": "#/components/parameters/ChangeNote"
          }
        ],
        "responses": {
          "200": {
            "description": "The webhook, with its new secret.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WebhookWithSecret"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
[...]
